@charset "utf-8";

/****************************************************/
@media (min-width: 1200px) {
	
}
/****************************************************/
@media (min-width: 991px) {
	
}
/****************************************************/
@media (min-width: 768px) {
	
}

@media (max-width: 1600px) {
	.center-side {
  
    width: 73%;
}
}
/****************************************************/
@media (max-width: 1599px) {

a.game-tile.somax {
     width: 374px;
    height: 284px;
}
#mboost-hwds #mboost-ds1{float:left; max-width:160px;}
#mboost-hwds #mboost-ds2{float:right; max-width:160px;}
}
@media(max-width: 1400px) {
	
}
/****************************************************/
@media (max-width: 1366px) {
	a.cat-item {

    width: 50%;
}
.center-side {
	width:76%;

}

}
@media (max-width:1279px) {
	#mboost-hwds {
		display:none!important;
	}
}
/****************************************************/
@media (max-width: 990px) {


}
/****************************************************/
@media (max-width: 767px) {
	
}
/****************************************************/
@media (max-width: 568px) {
	
}
/****************************************************/
@media (max-width: 420px) {
	
}
/****************************************************/




































